.body {
  width: 100vw;
  box-sizing: border-box;
  font-family: Roboto;
  
}
.container {
  width: 90%;
  margin: 3% auto;
 
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3% 0;
  

  
}

.list {
  display: flex;
  list-style-type: none;
  gap: 30%;
  position: relative;
  left: 65px;
  
}


.list :nth-child(1){
  order: 0;
}
.list :nth-child(2){
  order: 2;
}
.list :nth-child(3){
  order: 1;
}
.list :nth-child(4){
  order: 3;
}
.list :nth-child(5){
  order: 4;
}


.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin-left: 450px;
    /* align-self: flex-end; */
}
.nav-button{
    padding: 10px 55px;
    border-radius: 10px;
    background-color: #ffffff;
}
.search-icon{
    box-sizing: border-box;
   
}

.navbar-container img {
  position: relative;
  margin-left: -120px;
  }
.list li:nth-child(1) {
  font-weight: bold;
  /* border-bottom: 1px solid black ; */
  position: relative;
}
.list li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1.5px solid #1A1D21;
}

.hero-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.hero-container img {
position: relative;
margin-left: -40px;
}

.square {
  position: absolute;
  top: 53%;
  left: 17%;
  z-index: -1;
}
.globe {
position: relative;
left: 55%;
margin-top: -35px;
}
/* .hero-container .star span:nth-child(2) {
  position: absolute;
  right: 350px;
}

.hero-container .star span:nth-child(3) {
  position: absolute;
  left: 50%;
  top: 850px;
} */
.square + .star {
  position: absolute;
  right: 230px;
}
.star + .star {
  position: absolute;
  margin-top: 32%;
  margin-left: 40%;
  /* width: 150px; */
}


.hero-container-right {
  margin-left: 10%;
}
h1 {
  margin-top: 15%;
  font-size: 5em;
}
p{
  font-size: 1rem;
  width: 81%;
  margin-left: 5%;
  margin-top: -25px;
  margin-bottom: 15%;
  text-align: center;
}
.button-email {
padding: 0 25px;
margin-left: 30%;
border-radius: 5px;
}
.button-join {
  background-color: black;
  color: #ffffff;
  border-radius: 5px;
  margin-left: 1%;
}
.button-email, .button-join {
  margin-bottom: 355px;
}


.contact-heading  {
  margin-left: 350px;
  margin-top: -280px;
  font-size: 1.5em;
  color: #E2E2E2;
}
.contact-heading .icons span {
  top: -25px;
  display: inline-block;
  
}
.icons span:nth-child(1){
  position: relative;
  left: 35%;
}
.icons span:nth-child(2){
  position: relative;
  left: 40%;
}
.icons span:nth-child(3){
  position: relative;
  left: 45%;
}
.icons span:nth-child(4){
  position: relative;
  left: 50%;
}
